<head>
      <%- include('../components/head'); %>
</head>

<header style="padding-bottom:2.5rem;">
  <%- include('../components/header',{user:user}) %>

</header>
<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <form class="form" action="/post/bounty/add" method="post">


          <input type="hidden" name="issue_id" value="<%= bounty.id %>">

          <%- include('../components/bounty-form') %>



          <div class="field">
            <div class="control">
              <button class="button is-link" type="submit" value="Submit" name="button">Submit</button>
            </div>

          </div>
        </form>
      </div>
    </div>

  </div>
</div>
