<head>
      <%- include('../components/head'); %>
</head>


<header style="padding-bottom:2.5rem;">
  <%- include('../components/header',{user:user}) %>

</header>

<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <form class="" action="/post/bounty" method="post">
          <h2 class="title">Issue</h2>
          <div class="field">
            <label class="label">Title</label>
            <div class="control">
              <input class="input" type="text" name="title"placeholder="title">
            </div>
              <p class="help">Required! Please choose an unique title.</p>
          </div>
          <div class="field">
            <label class="label">Link</label>
            <div class="control">
              <input class="input" type="text" name="link" placeholder="Link to GitHub or Twitter post">
            </div>
            <p class="help">Required! Link to a new unique issue or Tweet.</p>
          </div>
          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <textarea class="textarea" type="text" name="description" placeholder="Describe the issue/features you want"></textarea>
            </div>
            <p class="help">Required!</p>

          </div>
          <div class="field">
            <label class="label">Conditions</label>
            <div class="control">
              <textarea class="textarea" type="text" name="condition_text" placeholder="Specify when this bounty is paid out"></textarea>
            </div>
            <p class="help">Required!</p>

          </div>
          <h2 class="title">Bounty</h2>

          <%- include('../components/bounty-form') %>




          <div class="field">
            <div class="control">
              <button class="button is-link" type="submit" value="Submit" name="button">Submit</button>
            </div>

          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<%- include('../components/tracking') %>
