<footer class="footer" style="background-color:white;">
  <div class="content has-text-centered">
    <p>
      by <a href="https://twitter.com/lnanswers">Lightning Answers</a>. Made Open Source with <span class="icon" style="color:red;"><i class="fas fa-heart"></i></span>
      <a href="https://github.com/ko-redtruck/bitcoin-only-dev-bounties-spec">GitHub</a>
    </p>
  </div>
</footer>
