body{
  background: #f7f9fb;
  min-height: 100vH;
}

.fa-bitcoin{
  color : orange;
}

.panel{
  background-color: white;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 3rem !important;
}

$primary: hex(545863);
